<div class="container home">
  <div class="card bg-light">
    <img class="card-img-top" src="../../assets/img/LandingBanner.JPG" alt="Exchanging Ideas">
    <div class="card-body">
      <h1 class="card-title display-4 text-center">Learning Dices</h1>
        <p class="card-body border border-right-0 border-left-0 text-center p-1">With Learning Dices we offer a new way to learn a language with the help of native speakers and story cubes
          <br>
          Roll the dices and tell a fun story to your friends
          <br>
          I recently came across story cubes as a creativity tool in my work as a product manager, on my next vacation I used them with a friend who wanted to learn English, since her vocabulary was not broad enough talking in day to day activities was not working very well.
          The story cubes gave some sort of small context that we could talk about. It went something like this:

          <br> 1. Roll the dices
          <br> 2. Ask for meaning of the dices symbols
          <br> 3. Start putting together a story and ask for more vocabulary if needed or whatever you are missing to make the story you got in mind
          <br>4. The native speaker then corrects and tells the story in his words <br>
          <br> I learned many phrases and enhanced my feeling for times and learned a few very specific words.
           Back home I felt like I want to continue learning this way but it can be hard to meet up with tandem partners.
           Luckily we have the internet and now this app offering a new way to learn a language and chat with native speakers! <br>
          <br>For more background on how talking helps learning a language visit: <a href="https://en.wikipedia.org/wiki/N400_(neuroscience)">N400 Wikipediapage</a>
        </p>
        <amplify-authenticator></amplify-authenticator>
      </div>
      <div class="bg-light">
        <a href="https://aws.amazon.com/appsync" target="_blank"><img class="img-fluid img-responsive mx-auto d-block appsync" src="../../assets/img/AppSync.png" alt="AWS AppSync"></a>
        <br/>
      </div>
    </div>
  </div>
